*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(i) {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}
.container {
    display: flex;
    margin:0!important;
    padding:0!important;
    height: 100vh;
    flex-flow: row nowrap;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#head{
   background: #fff; 
}
.head-container{
    display: flex;
    flex-wrap: column;

}
.head-container > ul{

        
        left: 0;
        top: 0;
        z-index: 999;
        background-color: #fff;
        height: 44.25px;
        width: 100%;
        padding: 0 3%;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.04);
    
    display:flex !important;
    
}
.head-container > ul :after{
    clear: both;
}
.head-logo-container{
    display: flex;
    align-items: center;
    width: 200px;
    flex-shrink: 0;
}

.head-logo{
    max-width: 100%;
    height: 25px;
    cursor: pointer;
}

.navbar-container{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    top: 37px;
    z-index: -1;
    border: 1px solid #efefef;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.04);
}
#aside {
    max-width: 50vw;
    background-color: rgba(87, 87, 87, 0.199);
}
#main {
    padding: 15px;
    margin: 0 15px;
    background-color: #000;
}

.aside-container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
}

.aside-link-container {
    cursor: pointer;
    padding: 8px;
}

.aside-link-active {
    color: #fff;
    background: linear-gradient(270deg, #5b72de, #745ff9);
}

.aside-icon {
    font-size: 36px;
}

.aside-detail-hide {
    width: 0;
}

.aside-customize {
    display: flex;
    flex-flow: row nowrap;
}

.customize-item {
    font-size: 20px;
    cursor: pointer;
    padding: 15px 25px;
}

.customize-item::after {
    content: '\003E';
    margin-left: 2px;
    vertical-align: text-top;
}

.input {
    padding: 5px 25px;
    display: flex;
    flex-flow: column wrap;
}

.input-note {
    color: grey;
    font-size: 12px;
    margin: 2px 0 0 0;
    padding-left: 10px;
}

.input-note::before {
    content: 'Note: ';
}

.input-label {
    padding: 2px 10px;
    font-weight: 500;
}

.input>div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.customize-input-field {
    overflow-y: scroll;
    height: 90vh;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.input-heading {
    text-transform: capitalize;
    margin: 0 0 5px 0;
}

.test {
    height: 100px;
}

.flex-row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.input-color {
    margin-right: 5px;
}

.input-select {
    width: 100px;
}

.number {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: rgb(61, 60, 60);
    color: #fff;
    text-align: center;
}
#fileButton{
    padding: 10px;
    color:#000;
    background-color: #ddd;
    border:1px solid  #000;
    cursor: pointer;
    border-radius: 5px;
}
#fileText{
    margin-left: 10px;
    color:#aaa;
    
}