*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(i) {
    font-family: 'Nunito Sans','Poppins',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-flow: column;
    background: linear-gradient(270deg, #0e5058, #009688);
    /* font-family: 'Poppins', sans-serif;
    font-family: 'Nunito Sans', sans-serif; */
}
.container {
    display: flex;
    margin:0!important;
    padding:0!important;
    height: 100%;
    flex-flow: row nowrap;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#head{
   background: #fff; 
}
.head-container{
    display: flex;
    flex-wrap: column;

}
.head-container > ul{


        
        left: 0;
        top: 0;
        z-index: 999;
        background-color: #fff;
        height: 44.25px;
        width: 100%;
        padding: 0 3%;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.04);
    
    display:flex !important;
    
}
.head-container > ul :after{
    clear: both;
}
.head-logo-container{
    display: flex;
    align-items: center;
    width: 200px;
    flex-shrink: 0;
}

.head-logo{
    max-width: 100%;
    height: 20px;
    cursor: pointer;
}
.button{
    padding:10px ;
        
        left: 0;
        top: 0;
        z-index: 999;
        background-color: #fff;
        height: 44.25px;
        width: 100%;
        padding: 0 3%;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.04);
    
    display:flex !important;
    
}
.head-container > ul :after{
    clear: both;
}
.head-logo-container{
    display: flex;
    align-items: center;
    width: 200px;
    flex-shrink: 0;
}

.head-logo{
    max-width: 100%;
    height: 25px;
    cursor: pointer;
}

.navbar-container{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem;
    top: 37px;
    z-index: -1;
    /* border: 1px solid #efefef; */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.04);

}
#aside {
    max-width: 50vw;
    background: linear-gradient(270deg, #12193e, #5d50ad);
    color: #fff;
    border-top-right-radius: 10px;
}
#main {
    padding: 15px;
    margin: 0 15px;
    background-color: #000;
}

.aside-container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
}

.aside-link-container {
    cursor: pointer;
    padding: 8px;
}
.aside-link-active {
    color: #fff;
    background: linear-gradient(270deg, #009a8c, #6453d0);
}
.aside-icon {
    font-size: 36px;
}

.aside-detail-hide {
    width: 0;
}

.aside-customize {
    display: flex;
    /* height: 80%; */
    flex-flow: row nowrap;
}
.aside-nav > li:hover {
    background: linear-gradient(120deg, #12fbdb, #5bff60);
    color: #000000;
}

.customize-item {
    font-size: 20px;
    cursor: pointer;
    padding: 15px 25px;
}

.customize-item::after {
    content: '\003E';
    margin-left: 2px;
    vertical-align: text-top;
}
.customize-type-list >li:hover {
    background: linear-gradient(270deg, #080082 , #7751b9);
    color: #fff;
}
.input {
    padding: 5px 0px;
    display: flex;
    flex-flow: column wrap;
}

.input-note {
    color: #06a087;
    font-size: 12px;
    margin: 5px 0 0 0;
}

.input-note::before {
    content: 'Note: ';
}

.input-label {
    padding: 2px 0px;
    font-weight: 500;
    padding-right: 5px;
}

.input>div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.customize-input-field {
    overflow-y: scroll;
    height: 500px;
    /* border: 1px solid #00826e; */
    box-shadow: -2px 2px 5px #00ffdc;
    border-radius: 10px;
    /* margin-top: 20px;
    margin-right: 20px; */
    margin: 20px 20px 20px 0;
}
.customize-input-field>li {
    margin: 10px;
    border: 3px solid #b6bbff;
    border-radius: 10px;
    padding: 10px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.input-heading {
    text-transform: capitalize;
    padding: 0 0 5px 0;
    margin: 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #8688c7;
}
.input-range {
    margin-right: 10px;
}

.test {
    height: 100px;
}

.flex-row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.input-color {
    margin-right: 10px;
}

.input-select {
    width: 100px;
}

.number {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: rgb(61, 60, 60);
    color: #fff;
    text-align: center;
}

.json-textarea {
    overflow: auto;
    background-color: rgb(37, 34, 34);
    color: #00ff00;
    height: 400px;
    word-spacing: 2px;
    line-height: 1.8;
    resize: none;
}

#fileButton{
    padding: 10px;
    color:#000;
    background-color: #ddd;
    border:1px solid  #000;
    cursor: pointer;
    border-radius: 5px;
}
#fileText{
    margin-left: 10px;
    color:#aaa;
    
}

.spreadsheet-wraper{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
}

.spreadsheet-wraper .spreadsheet-container{
    position: relative;
    top: 10%;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 80%;
    background-color: #fff;
}

.spreadsheet-wraper .spreadsheet-container .nav{
    position: relative;
}

.spreadsheet-container .tbl-container{
    overflow: auto;
    width: 96%;
    margin-left: 2%;
    height: 90%;
}


.spreadsheet-container .nav .btn{
    float:right;
    padding: 7px 15px;
    background: transparent;
    border: 1px solid transparent;
    font-size: large;
    font-weight: lighter;
}

.spreadsheet-container .nav .btn:focus{
    outline: none;
    box-shadow: none;
}

.spreadsheet-container .tbl{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}

.spreadsheet-container .tbl th{
    background-color: #43a363;
    color: #fff;
}

.spreadsheet-container .tbl td, .spreadsheet-container .tbl th{
    text-align: center;
    padding: 3px 8px;
    font-size: small;
    border:  2px solid #08130b;
}

.spreadsheet-container .tbl tr td.selected-x{
    background-color: #007bff36;
}

.spreadsheet-container .tbl tr td.selected-y-0{
    background-color: #ff2d575d;
}

.spreadsheet-container .tbl tr td.selected-y-1{
    background-color: #ffbc2d5d;
}

.spreadsheet-container .tbl tr td.selected-y-2{
    background-color: #57ff2d2f;
}

.spreadsheet-container .pallets{
    position: absolute;
    right: 0;
    bottom: 0;
}
.spreadsheet-container .colorhint{
    padding: 5px 7px;
    font-size: xx-small;
}

.spreadsheet-container .nav .filename{
    padding: 7px 15px 7px 15px;
    display: inline-block;
}


.spreadsheet-container .tbl tr td.row-idx{
    background-color: #eee;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

.btn.btn-close{
    color: #ff2d57;
}
.active-customize {
    background: linear-gradient(270deg, #080082, #7751b9);
    color: #fff;
}